{% extends 'layout.html.twig' %}

{% block content %}

    {{ form_start(form, {'attr': {'id': 'user_form'}}) }}

        {{ form_widget(form) }}

    {{ form_end(form) }}

    <a href="{{ path('read_user') }}"><i class="fas fa-undo-alt"> Go back to user list</i></a>

{% endblock %}